<section>
    <article class="bg-imageindex h-[500px]">
        <div class="w-full h-[500px] bg-black/50">
            <div class="flex flex-col h-full w-full items-center justify-center text-white">
                <h1 class="text-4xl text-center">Welcome to Pixel Gear</h1>
                <h3 class="text-4xl text-center">The best store for mechanical keyboards.</h3>
            </div>
        </div>
    </article>
</section>
<section class="bg-[#D8F3DC] flex flex-col items-center gap-4 py-20 justify-center">
    <div class="max-w-[1440px] flex items-center gap-4 flex-col">
        <article class="text-5xl font-bold m-5">
            <h1>Available Products</h1>
        </article>
        <article class="grilla">
            {{#each products}}
            <a href="/products/{{this.id}}">
                <div class="flex flex-col items-center justify-center gap-4 p-4 bg-[#52B788] rounded-3xl">
                    <picture class="flex items-center justify-center">
                        <img class="w-11/12 rounded-3xl" src="{{this.photo}}" alt="Photo Item">
                    </picture>
                    <div class="text-2xl text-white gap-2 flex items-center justify-center">
                        {{#if this.title}}
                        <h2>{{this.title}}</h2>
                        {{else}}
                        <h2>No title</h2>
                        {{/if}}
                        <p>${{this.price}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </article>
    </div>
</section>